/* images as background
background-size: cover; (fills up entire div with no repeats)
background-position:
background-attachment:
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  min-height: 100vh;
  color: green;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.big-image {
  background: url("./big.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* background-position: center; */
}
.small-image {
  border: 2px solid red;
  background: url("./folder.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.folder-image {
  background: url("./big.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/*
  display:none;
  opacity:0;
  visibility:hidden;

div {
  background: blue;
  margin: 10px;
  color: white;
}
.none {
  display: none;
}
.opacity {
  opacity: 1;
}
.opacity-0 {
  opacity: 0;
}
.opacity-5 {
  opacity: 0.5;
}
.visibility {
  visibility: hidden;
}

/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1,
.box2,
.box3 {
  width: 200px;
  height: 200px;
  color: white;
}
.box1 {
  background: red;
  padding: 20px;
  box-sizing: border-box;
}
.box2 {
  background: blue;
}
.box3 {
  background: green;
  padding: 20px;
} */

/* inline-block 
a {
  font-size: 60px;
  background: red;
  margin: 40px;
  display: inline-block;
}
*/

/*
Block: Top Bottom Marin Respected
Inline: Top Bottom Margin Not Respected
Mobile Navbar
list-style-type:property
descendant selectors

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  text-transform: capatalize;
  letter-spacing: 2px;
  background: #222;
  color: #f15025;
  display: block;
  padding: 10px 10px;
  margin: 10px;
}
*/

/*Horizontal Cornering

body {
  text-align: center;
}
.block {
  background: blue;
  color: white;
  width: 150px;
  margin: 20px auto;
}
.inline {
  background: red;
  color: white;
}
*/

/* Default Display Property
Block: Always starts a new line and takes full width 
Inline: Does not start and only take up as much as content space


.block {
  background: blue;
  color: white;
  display: inline;
}
.inline {
  background: red;
  color: white;
  display: block;
}
*/

/*
outline 
offset

.buttons {
  margin: 3rem;
}
a {
  background: #689f3f;
  text-decoration: none;
  padding: 1.2rem 1.5rem;
  color: #222;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0px 20px;
}
#one {
  border: 0.2 rem solid #222;
}
#two {
  outline: width 0.2rem;
  outline-style: solid;
  outline-color: #222;
  outline:0.2rem solid #222;
}
*/
/*
BOARDER-RADIUS
Negative-Margin

h1 {
  background: red;
  padding: 20px;
  border: 5px solid black;
  border-radius: 20px;
}
p {
  background: blue;
  padding: 20px;
  border: 13px solid green;
  border-radius: 900px;
  margin-top: -100px;
}
*/

/* CSS BOX MODEL 
PADDING
MARGIN
BORDER
*/

/*
h1 {
  background: red;
  padding: 20px;
  margin: 30px;
  border-style: solid; 
  border-width: 10px;
  border-color: green; 
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #222;
}
*/

/*
p{
  background: blue;
  padding: 20px;
  margin:50px 20px; 
  margin: 100px 20px 20px 50px;
  border: 13px solid yellow;

  padding:50px 
  padding:30px 60px <----- top and bottom, left and right 
  padding: 30px 40px 60px 10px;
  top,right,bottom,left 
}
*/
